header {
  padding: 3px;
  background-color: #000000;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  position: fixed;
  top: 0;
  width: 100%;
}

#txtHead {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myText {
  font-size: 25px;
}

.topHalf {
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 100px;
  padding-bottom: 190px;
  background-color: dodgerblue;
}

.me {
  padding-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#buttons {
  border-style: solid;
}

.machineProblems {
  display: flex;
}

.center {
  justify-content: center;
}

#headTitle {
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myImage {
  border-radius: 150px;
  border: 3px solid #000000;
}

#details {
  font-size: 20px;
  margin-top: -50px;
  padding: 50px;
}

#moreDetails {
  font-size: 17px;
  margin: auto;
  margin-top: -10px;
  margin-left: 10px;
  padding: 10px;
  text-align: left;
  text-indent: 45px;
  width: 650px;
  float: left;
  bottom: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#txtfooter {
  text-align: right;
  padding-right: 10px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.personal {
  border-style: solid;
  border-radius: 10px;
  box-shadow: -10px 10px 20px #222222;
  width: 980px;
  height: 350px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#imgAM {
  width: 207.36px;
  height: 311.04px;
  border: 2px solid #000000;
  border-radius: 10px;
  float: left;
  margin-left: 15px;
  margin-top: -35px;
}

#detailsAM1 {
  font-size: 18px;
  margin: auto;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
  width: 550px;
  float: left;
  bottom: 0px;
}

#webLink:link {
  color: dodgerblue;
  text-decoration: none;
}
#webLink:visited {
  color: dodgerblue;
  text-decoration: none;
}
#webLink:hover {
  color: dodgerblue;
  text-decoration: underline;
}
#webLink:active {
  color: dodgerblue;
  text-decoration: underline;
}
