header {
  padding: 3px;
  background-color: #000000;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  position: fixed;
  top: 0;
  width: 100%;
}

#txtHead {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myText {
  font-size: 25px;
}

.topHalf {
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: dodgerblue;
}

.me {
  padding-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#buttons {
  border-style: solid;
}

.machineProblems {
  display: flex;
}

.center {
  justify-content: center;
}

#headTitle {
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#myImage {
  border-radius: 100px;
}

#details {
  font-size: 20px;
  margin-top: -50px;
  padding: 50px;
}

#txtfooter {
  text-align: right;
  padding-right: 10px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
