header {
  padding: 3px;
  background-color: #000000;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  position: fixed;
  top: 0;
  width: 100%;
}

#txtHead {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

#myText {
  font-size: 25px;
}

.topHalf {
  margin-left: -8px;
  margin-right: -8px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: dodgerblue;
}

.me {
  padding-top: 10px;
}

#buttons {
  border-style: solid;
}

.machineProblems {
  display: flex;
}

.center {
  justify-content: center;
}

#headTitle {
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

#myImage {
  border-radius: 100px;
}

#details {
  font-size: 20px;
  margin-top: -50px;
  padding: 50px;
}

#btn_mp1 {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #000000;
  color: #000000;
  width: 180px;
  height: 60px;
}

#btn_mp1:hover {
  background-color: dodgerblue;
}

#btn_mp2 {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #000000;
  color: #000000;
  width: 180px;
  height: 60px;
}

#btn_mp2:hover {
  background-color: dodgerblue;
}

#btn_mp3 {
  border-radius: 8px;
  background-color: #c9c9c9;
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-color: #000000;
  color: #000000;
  width: 180px;
  height: 60px;
}

#btn_mp3:hover {
  background-color: dodgerblue;
}

#txtfooter {
  text-align: right;
  padding-right: 10px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
  background-color: #000000;
  color: #ffffff;
}
